<div class="banner">
      <header role="banner"></header>
        <h1>WELCOME TO SHOPLANE</h1>
        <h2>
          <a href="#page-wrapper" class="head"
            >Beauty of <abbr title="Cascading Style Sheets">CSS</abbr> Design</a
          >
        </h2>
      </header>
</div>