<div class="banner">
      <header role="banner" id="masthead"></header>
        <h1>WELCOME TO <span> VUV </span>Collections </h1>
        <h2> "Quality, Style, and Sophistication - That's VUV Collections."</h2>
      </header>
</div>
